<h1>Administrator List</h1>

<p>
Administrators for your organization are allowed to do the same things you can:
import member lists, add or remove members, manually match givers and recipients, etc.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Member Since</th>
      <th>Last Signed On</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |adm| %>
      <tr>
        <td><%= adm.name %></td>
        <td><%= adm.email %></td>
        <td><%= nice_date(adm.created_at) %></td>
        <td><%= nice_datetime(adm.last_sign_in_at) %></td>
        <td>
          <% if adm.id != current_user.id %>
            <%= form_for @user, url: orgadmin_org_admin_path(adm), method: :delete do |f| %>
              <%= f.submit("Remove") %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Create a new organization administrator by filling out the form below.  The user will receive
an email from which they can create their own password.</p>

<%# TODO: This probably can be shared as a general new user form, but not quite sure where. %>

<%= form_for @user, url: orgadmin_org_admins_path, method: :post do |f| %>
  <%= label_tag :first_name %>
  <br>
  <%= f.text_field :first_name %>
  <br>
  <%= label_tag :last_name %>
  <br>
  <%= f.text_field :last_name %>
  <br>
  <%= label_tag :email %>
  <br>
  <%= f.text_field :email %>
  <br>
  <%= f.submit "Create Administrator"%>
<% end %>


