<h1>Member List</h1>

<p>
Members of your organization can be matched with recipients and recipient families.  
</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @memberships.each do |m| %>
      <tr>
        <td><%= m.user_name %></td>
        <td><%= m.user_email %></td>
        <td>
          <%= form_for m, url: edit_organization_membership_path(@org.id, m.id), method: :get do |f| %>
            <%= f.submit("Edit") %>
          <% end %>
          <%= form_for m, url: organization_membership_path(@org.id, m.id), method: :delete,data: {confirm: "Are you sure?"} do |f| %>
            <%= f.submit("Remove") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Member", new_organization_membership_path(@org) %>