<h1>New Member</h1>

<p>
Members of your organization can be matched with recipients and recipient families.  
The new member will receive an email asking them to change their password unless
you uncheck Send Email.</p>

<%= form_for @user, url: organization_memberships_path(@org.id), method: :post do |f| %>
  <%= label_tag :first_name %>
  <br>
  <%= f.text_field :first_name %>
  <br>
  <%= label_tag :last_name %>
  <br>
  <%= f.text_field :last_name %>
  <br>
  <%= label_tag :email %>
  <br>
  <%= f.text_field :email %>
  <%= f.fields_for @membership do |memb_f| %>
    <br>
    <%= label_tag :send_email %>
    <br>
    <%= memb_f.check_box :send_email %>
  <% end %>
  <br>
  <%= f.submit "Create Member"%>
<% end %>

