<%= tinymce_assets %>

<%= tinymce %>

<h1>Send Campaign Email</h1>

<p>
This will send an invitation or reminder email for the 
<%= @campaign.name %> campaign to <%= @memberships.count %>
active members.  
</p>

<%= form_tag send_email_organization_campaign_path, method: :post do %> 
  Subject: <%= text_field_tag :subject, @subject %>
  <%= text_area_tag :content, @content, class: "tinymce", rows: 10, cols: 120 %>
  <%= submit_tag "Send Email" %>
<% end %>
