<section class="card--container">
  <% @recipients.each do |recipient| %>
  <div class="card--recipient">
    <div class="card--recipient--details">
      <span><%= recipient.first_name %></span>
    </div>
    <div class="card--recipient--details">
      <span><%= recipient.gender %></span>
    </div>
    <div class="card--recipient--details">
      <span><%= recipient.age %></span>
    </div>
    <p>
      Hoping to get:
      <br>
      <%= recipient.wish_list %>
    </p>
  </div>
  <% end %>
</section>

<% if can? :manage, @organization_campaign %>
  <h3>Potential Donors</h3>
  <section class="card--container">
    <% @donors.each do |donor| %>
    <% if donor.matches.empty? %>
      <div class="card--recipient">
        <div class="card--recipient--details">
          <span><%= donor.user.first_name %></span>
        </div>
        <div class="card--recipient--details">
          <span><%= donor.user.last_name %></span>
        </div>
        <div class="card--recipient--details">
          <span><%= donor.user.email %></span>
        </div>
      </div>
      <% end %>
    <% end %>
  </section>
<% end %>
