<h2>Recipients</h2>
<% @recipients.each do |recipient| %>
  <% if recipient.matches.empty? %>
    <h3><%= recipient.first_name %></h3>
    <h3><%= recipient.age %></h3>
    <h3><%= recipient.gender %></h3>
    <h3><%= recipient.wish_list %></h3>
  <% end %>
<% end %>

<% if can? :manage, @organization_campaign %>
  <h2>Donors</h2>
  <% @donors.each do |donor| %>
    <% if donor.matches.empty? %>
        <h3><%= donor.user.first_name%></h3>
        <h3><%= donor.user.last_name  %></h3>
        <h3><%= donor.user.email %></h3>
    <% end %>
  <% end %>
<% end %>
