<h1>Recipient List for <%= @oc.campaign.name %></h1>

<p>
These are recipients assigned to you by the Volunteer Center
for this campaign.  You can assign them to members
of your organization.   You may also assign an entire family at once.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Wishlist</th>
      <th>Details</th>
      <th>Matched To</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @recipients.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.age %></td>
        <td><%= r.gender %></td>
        <td><%= r.wish_list %></td>
        <td><%= r.other_details %></td>
        <td><%= r.matched? ? r.membership.user_name : "" %></td>
        <td>
          <% if r.matched? %>
            <%= form_for r, url: orgadmin_recipient_path(r), method: :patch do |f| %>
              <%= f.hidden_field :membership_id, value: nil %>
              <%= f.submit("Unmatch") %>
            <% end %>
          <% else %>
            <%= form_for r, url: edit_orgadmin_recipient_path(r), method: :get do |f| %>
              <%= f.submit("Match") %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

