<h1>Import Member List</h1>

<p>
  Your email can be in one of the following forms:
  <ul>
    <li>
      A list of standard email addresses of the form 
      <pre>"First Last &lt;somebody@somewhere.org&gt;"</pre>
    </li>
    <li>
      -OR- A comma-separated list of names and email addresses of the form
      <pre>First,Last,Email</pre>
    </li>
  </ul>
</p>

<%= form_for @import_session, 
    url: organization_import_sessions_path, method: :post, 
    multipart: true do |f| %>

  <%= f.hidden_field :organization_id %>

  <p>
    You can either copy and paste the list here:
    <%= f.text_area :list_text, rows: 10, cols: 80 %>
  </p>

  <p>
    Or upload it from a file here.
    <%= f.file_field :list_file %>
  </p>

  <%= f.radio_button(:merge_mode,"merge") %>
  <%= f.label(:merge_mode, "Merge these members into the current list.", value: "merge") %>
  <br/>
  <%= f.radio_button(:merge_mode,"replace") %>
  <%= f.label(:merge_mode, "Replace the entire member list with these members.", value:"replace") %>
  <br/>
  <%= f.submit "Import" %>

<% end %>