<p class="heading--details">
  Hi <b><%= current_user.first_name %></b>!
  <br> You have been matched with the following people:
</p>
<h1><span class="text-uppercase">Send items by: <br> <%= @campaign_date.strftime("%A, %B %d, %Y") %></span></h1>
<section>
<% @memberships.each do |membership| %>
  <ul class="matches">
    <% membership.recipients.each do |recipient| %>
      <li class="card--body">
        <div class="card--info--secondary">
          <%= recipient.first_name %> <%= recipient.last_name %>
        </div>
        <div class="card--info--primary">
          <%= recipient.gender %>
        </div>
        <div class="card--info--secondary">
          <%= recipient.age %>
        </div>
        <div class="matches--details">
          Is looking for: <br>
          <%= recipient.wish_list %>
        </div>
        <div class="card--info">
          <a href="mailto:<%= recipient.email%>"><%= recipient.email%></a>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
</section>
<h1>Rules and Guidelines</h1>
<section class="card--body">
  <ul class="rules">
    <li>Gift items (clothes, toys, and other items) can be in any dollar amount.
    A suggested limit of $50 per person is used as a guideline.</li>

    <li>Not all "wish list" gifts can be purchased so use your discretion.</li>

    <li>Gifts should be new, not used.</li>

    <li>After you purchase your gifts, please wrap them and tag them as specified above Attach the tag securely to each package.</li>

    <li>Please return wrapped gifts with the appropriate name and Share Your Christmas Number and send them to supplied address.</li>
  </ul>
</section>
