<div class="sc-Org">
  <h1><%= @organization.name %></h1>

  <div class="sc-Org-details">
    <div class="sc-Org-details-attribute">
      <strong>Name:</strong> <span><%= @organization.name %></span>
    </div>

    <div class="sc-Org-details-attribute">
      <strong>Description:</strong>
      <p><%= @organization.name %></p>
    </div>

    <div class="sc-Org-details-attribute">
      <strong>URL:</strong> <span><%= link_to @organization.url %></span>
    </div>
  </div>

  <div class="sc-Org-actions">
    <%= link_to 'All Organizations', organizations_path, class: 'btn btn-default' %>
    <% if can? :edit, @organization %>
      <%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
