<p id="notice"><%= notice %></p>

<p>
  Name: <%= @organization.name %>
</p>
<p>
  Logo: <%= image_tag @organization.logo.url(:medium) %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
