<!DOCTYPE html>
<html>
<head>
  <title>ShareChristmas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>_controller" >
  <%= render 'layouts/navbar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= image_tag asset_url("christmas_logo.png"), alt: "Logo", class: "header--logo" %>
  <% if session[:organization_name] %>
    <h1 class="header"><%= session[:organization_name] %></h1>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
