<!DOCTYPE html>
<html>
<head>
  <title>ShareChristmas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="<%= params[:controller].parameterize %>_controller" >
  <%= render 'layouts/navbar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if defined?(@organization_campaign) && defined?(@organization_campaign.campaign_logo) %>
    <%= image_tag(@organization_campaign.campaign_logo.url, alt: "Logo", class: "header--logo") %>
  <% end %>
  <% if session[:organization_name] %>
    <h1 class="header"><%= session[:organization_name] %></h1>
  <% end %>
  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
