<!DOCTYPE html>
<html>
<head>
  <title>ShareChristmas</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'application.print', media: 'print' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="<%= params[:controller].parameterize %>_controller">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash' %>
  <div class="container">
    <% if defined?(@organization_campaign) %>
      <%= image_tag(@organization_campaign.campaign_logo.url, alt: "Logo", class: "header--logo") %>
    <% end %>
    <% if session[:organization_name] %>
      <h1 class="header"><%= session[:organization_name] %></h1>
    <% end %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <% if printer_friendly_request? %>
    <script type="text/javascript">
      window.onload = function() {
        window.print();
      };
    </script>
  <% end %>
</body>
</html>
